.soortPralines {
    display: flex;
    list-style-type: none;
    margin-bottom: 2em;
}

.soortPralines li {
    display: inline-block;
    width: 20%;
}

.soortPralines img {
    width: 100%;
    cursor: pointer;
}

dt {
    font-weight: bold;
}

.soortPralines li a img.active {
    filter: brightness(95%);
}


body p {
    font-style: italic;
}