.soortPralines {
    display: flex;
    list-style-type: none;
    margin-bottom: 2em;
}

.soortPralines li {
    display: inline-block;
    width: 20%;
}

.soortPralines img {
    cursor: pointer;
    width: 100%;

}

dt {
    font-weight: bold;
    margin-bottom: 15px;
}

.soortPralines li img.active {
    filter: brightness(95%);
}


body p {
    font-style: italic;
}

body {
    font-size: 1.5em;
}