form p {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

form label {
    margin-right: 3em;
}

#main_form{
    display: flex;
    max-width: 50%;
}

#main_form img {
    margin-right: 3em;
}

#lblMsg {
    font-weight: bold;
    padding-top:0.5em;
}

button {
    border: 1px;
    border-style: solid;
    padding: 0.5em;
}

#form {
    display: block;
    max-width: 50%;
}

body{
    background-color: pink;
}